/*
  * Colors references

  header bg-color: #99ccff;
  footer bg-color: #162b4d;
  header hover: #162b4d;
  text color: #484848;

 

  * Feel free to add new colors if you need it
 */


/* Your styles go here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*navigation*/
.heading {
  display: flex;
  justify-content: space-between;
  background: #99ccff;
  align-items: center;
  height: 90px;
}
.navigation nav ul li {
  display: inline-block;
  margin: auto 35px;
  padding: 34px 0;
}
.navigation nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  display: block;
}
.navigation {
  margin-right: 60px;
}
nav ul li:hover{
  background-color: #445570;
  opacity: 0.5;
  cursor: pointer;
  transition-duration: 0.4s;
}

/*logo*/
.logo {
  font-weight: 500;
  font-size: 35px;
  margin-left: 35px;
  color: #ffffff;
}
.logo span {
  color: #3f5d85;
}

/*travel*/
.travel-blog  {
  background: url('../img/section1.jpg') no-repeat;
  background-size: cover;
  margin: 30px 0;
}
.travel-text {
  margin-left: 25px;
  color: #ffffff;
  padding: 200px 20px;
}
.travel-text h1 {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 20px;
}

/*main-content*/
.section-2 {
  display: flex;
  max-width: 100%;
  margin: 0 25px;
}
.main-content {
  max-width: 760px;
}
.sub-content:nth-child(2n) {
  flex-direction: row-reverse;
}
.sub-content {
  display: flex;
}
.comment:hover {
  opacity: 0.5;
  cursor: pointer;
  transition-duration: 0.4s;
}
.sub-content img {
  width: 50%;
}
.date-head {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}
.wrap {
  flex-direction: row-reverse;
}
.p-right {
  text-align: right;
}
.first-h1 {
  font-size: 30px;
}
.second-h1 {
  text-align: center;
  font-size: 30px;
  width: 70px;
}
.comment {
  color: #484848;
  margin: 10px;
  width: 100%;
}
.comment p {
  display: block;
  max-width: 300px;
}

.post-1 {
  background: #F3D250;
}
.post-2 {
  background: #8D8741;
}
.post-3 {
  background: #659DBD;
}
.post-4 {
  background: #DAAD86;
}


/*aside*/
/*.aside-content {
  padding: 0 20px;
}
.news {
  max-width: 450px;
  border: 2px solid #000000;
  overflow: hidden;
  height: auto;
}
.news img {
  max-width: 450px;
  height: auto;
}*/


.section-for-news{
  width: 35%;
  margin: -20px 25px;
}
.posts {
  padding: 20px;
}
.posts button {
  background: #ffffff;
}
.posts button:hover {
  cursor: pointer;
  border: 1px #fff solid;
  border-bottom: 1px #434343 solid;
  transition-duration: 0.4s;
}
.posts h3{
  font-size: 35px;
  font-weight: 100;
  padding-bottom: 0.5em;
}
.posts p {
  display: block;
  width: 90%;
}
.news{
  background: #fff;
  margin: 20px 0;
  border: 2px solid #484848;

}
.news img{
  width: 100%;

}
.news button{
  margin-top: 20px;
  padding: 10px;
  border: 1px #434343 solid;
}

/*footer*/
footer{
  display: flex;
  justify-content: space-between;
  background: #162b4d;
}
footer div {
  padding: 35px;
  color: #ffffff;
  line-height: 150%;
}


#menu {
  display: none;
}

@media screen and (max-width: 768px){
  .navigation{
    display: none;
  }
  .heading{
    display: block;
    text-align: center;
    width: 100%;
    height: 150px;
  }
  h1{
     padding: 100px 20px 20px;
  }
  h1::before{
    position: absolute;
    font-family: "Font Awesome\ 5 Free";
    top: 0;
    left: 45%;
    content: "\f0c9";
    font-weight: 600;
    font-size: small;
    padding: 20px;
  }
  .sub-content {
    flex-direction: column;
  }
  .section-for-news{
    width: 40%;
  }
  .main-articles{
    flex-wrap: wrap;
    width: 100%;
  }
  .main-articles:last-child img{
    object-fit: none;
    height: fit-content;
  }
  .main-articles:last-child .posts{
    transform: translate(-50%, -50%);
  }
  .section-for-articles img{
    width: 100%;
  }

  .news button{
    background: #fff;
  }
  footer{
    display: block;
    text-align: center;
  }
  
}

@media screen and (max-width: 320px){
  .section-2 {
    flex-direction: column;
  }
}