/* TODO: your styles goes here*/
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
}

div div {
	margin-left: 20px;
}

#root {
	display: flex;
	flex-direction: column;
	width: 50%;
	box-shadow: 3px 17px 13px 0px rgba(0,0,0,0.75);
	padding: 25px;
}

.span:hover {
	background-color: #cfcfcf;
}

.contextMenuContainer {
	padding: 5px;
	box-shadow: 3px 17px 13px 0px rgba(0,0,0,0.75);
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: white;
	left: 60px;
	top: 0;
	z-index: 99;
}

button {
	border: none;
	background-color: white;
}

button:hover {
	background-color: #cfcfcf;
}