/* Your code goes here */
body {
  padding: 0;
  margin: 0 0 5vh;
}
.calendar {
  height: 100px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.october2020 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
.calendar_days {
  width: 760px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(6, 100px);
  grid-gap: 10px;
}
.names {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.names p {
  font-size: 16px;
  font-weight: 600;
}
.days {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeaea;
}
.october {
  background: #eaeaea;
}