* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-1 {
    background: #0b013c;
    height: 85vh;
    overflow: hidden;
}

.header-bg {
    width: 1140px;
    margin: 0 auto;
    background: url(../img/header-bg.png) no-repeat;
    height: 100vh;
    background-size: 100%;
}
.header-content {
    margin: 0 auto;
    width: 900px;
    padding-top: 20px;
}
.logo-name {
    width: 160px;
    height: 40px;
    border: 2px solid #FFFFFF;
    display: table-cell;
    vertical-align: middle;
}
.logo-name h1{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}
.heading {
    margin-top: 120px;
}
.heading h1 {
    font-size: 70px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}
.heading h3 {
    color: #FFFFFF;
    display: block;
    margin: 15px 0;
    font-family: 'Lato', sans-serif;
}
.heading p {
    display: block;
    width: 380px;
    color: #FFFFFF;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}
.header-search input[type="email"] {
    width: 350px;
    height: 40px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
}
.header-search input[type="submit"] {
    width: 100px;
    height: 40px;
    background: #f8cb8a;
    color: #000000;
    border: none;
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
}



main {
    background: #fefaf3;
}
.main-heading {
    padding: 50px 0;
    margin: 0 auto;
    width: 720px;
    text-align: center;
}
.main-heading h3 {
    color: #0b013c;
    font-family: 'Lato', sans-serif;
}
.main-heading h1 {
    margin: 15px auto;
    color: #0b013c;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
}
.main-heading hr {
    width: 100px;
    height: 10px;
    border: none;
    margin: 20px auto;
    background: #f8cb8a;
}
.main-heading p {
    color: #808080;
    font-family: 'Lato', sans-serif;
}
.section-2 {
    padding: 50px 0 100px;
}
.section-3 {
    padding: 100px 0 90px;
}

.abroad {
    margin: 0 auto;
    width: 900px;
    background: #FFFFFF;
    display: flex;
}
.abroad img {
    max-width: 600px;
    float: left;
    display: block;
}
.abroad-text {
    padding: 30px 10px;
}
.abroad-text h1 {
    font-size: 40px;
    color: #0b013c;
    margin: 20px 0;
    font-family: 'Lato', sans-serif;
}
.abroad-text hr {
    width: 100px;
    height: 10px;
    border: none;
    margin: 20px 0;
    background: #f8cb8a;
}
.abroad-text p {
    color: #808080;
    font-family: 'Lato', sans-serif;
}

.section-4 {
    padding: 0 0 60px;
}
.s-4 {
    background: #FFFFFF;
    width: 420px;
}
.space {
    margin: 0 auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.s-4 img {
    width: 100%;
}
.s-4 p {
    display: block;
    margin: 20px 20px;
    font-family: 'Lato', sans-serif;
}



.section-5 {
    background: #0b013c;
}
.autism {
    background: url(../img/space-bg.png) no-repeat;
    background-size: 100%;
}
.autims-text {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 90px 0 90px;
    color: #FFFFFF;
}
.autims-text h3 {
    margin: 20px 0 20px;
    font-family: 'Lato', sans-serif;
}
.autims-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}
.autims-text hr {
    width: 100px;
    height: 10px;
    border: none;
    margin: 20px auto;
    background: #f8cb8a;
}
.autims-text p {
    display: block;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.section-6 {
    background: url(../img/footer-bg.jpeg);
    background-size: 100%;

}



.footing {
    align-items: center;
    padding: 90px 0 90px;
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footing-text {
    color: #FFFFFF;    
}
.footing-text h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}
.footing-text h4 {
    margin-bottom: 7px;
    font-family: 'Lato', sans-serif;
}
.footer-link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}
.footer-link:hover {
    text-decoration: underline;
}