/*@import"variables1";*/
.header-wrap {
  background: url("../img/m-h-night.jpg") no-repeat center top;
  background-size: 100% 100%;
  height: 600px;
  width: 100%;
  border-bottom-right-radius: 550px 280px; }
  .header-wrap .landing-logo {
    margin-left: 100px;
    width: 100%; }
    .header-wrap .landing-logo p {
      font-weight: 600;
      display: inline-block;
      letter-spacing: 0px;
      text-align: center;
      margin-left: 10px;
      color: white;
      padding-top: 0px; }
      .header-wrap .landing-logo p span {
        font-size: 10px;
        display: block; }

.header_heading {
  width: 450px;
  text-align: left;
  font-size: 50px;
  font-family: Arial, sans-serif;
  font-weight: 800;
  margin-left: 100px;
  color: white; }

.header_text {
  text-align: left;
  margin-left: 49px;
  width: 550px;
  font-family: cursive;
  white-space: pre;
  color: white; }

html {
  width: 100%;
  overflow: auto; }
  html body {
    background-color: #303249; }

.login {
  font-size: 18px;
  color: white;
  margin-left: 150px; }

.header_button {
  background-color: #ffcc14;
  margin-left: 105px;
  margin-top: 30px;
  color: white;
  width: 120px;
  height: 40px;
  border: none;
  font-size: 15px;
  font-weight: 600; }

.section_text {
  font-size: 40px;
  font-weight: 800;
  color: white;
  text-align: center; }

.section_card_wrap {
  margin-left: 250px;
  width: 800px; }
  .section_card_wrap .section_card {
    background-color: #424463;
    border-radius: 7px;
    margin-top: 20px;
    display: flex;
    height: 200px; }
    .section_card_wrap .section_card .section_card_img {
      margin: 15px; }
    .section_card_wrap .section_card .section_card_right_container {
      text-align: center;
      width: 400px;
      color: white; }
      .section_card_wrap .section_card .section_card_right_container .section_card_text {
        width: 400;
        margin-left: 50px;
        text-align: justify; }
      .section_card_wrap .section_card .section_card_right_container .section_link {
        font-size: 18px;
        color: white;
        margin-left: 150px;
        margin-left: 100px; }

.section_banner {
  margin-left: 210px;
  width: 880px;
  height: 120px;
  border-radius: 7px;
  display: flex;
  background: linear-gradient(to right, #bf9900, #910a5e);
  margin-top: 100px;
  position: absolute; }
  .section_banner .section_banner_text_wrap {
    text-align: left;
    margin-left: 100px; }
    .section_banner .section_banner_text_wrap .section_banner_heading {
      font-size: 27px;
      font-weight: 700;
      color: white; }
    .section_banner .section_banner_text_wrap .section_banner_text {
      margin-top: -20px;
      font-size: 14px;
      color: #b8b8b8; }
  .section_banner .section_banner_button {
    background-color: #ffcc14;
    margin-left: 105px;
    margin-top: 30px;
    color: white;
    width: 120px;
    height: 40px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 200px; }

.footer {
  background-color: #424463;
  margin-top: 160px;
  padding-top: 140px;
  padding-left: 100px;
  color: white; }
  .footer .footer-wrap {
    display: flex; }
    .footer .footer-wrap .footer_logo {
      display: block; }
      .footer .footer-wrap .footer_logo p {
        display: inline-block; }
    .footer .footer-wrap .footer_text {
      font-size: 13px;
      width: 300px;
      margin-left: 300px;
      margin-right: 200px; }
