/* Your style goes here */
body {
  padding: 0;
}
#game
{
  width: 450px;
  height: 450px;
}
.block
{
  width: 150px;
  height: 150px;
  float: left;
  border: 1px solid black;
  box-sizing: border-box;
  line-height: 150px;
  text-align: center;
  font-size: 120px;
}
button
{
  color: blue;
  border-color: blue;
  height: 50px;
  width: 100px;
  background-color: white;
  position: absolute;
  left: 185px;
}