/*Your code goes here*/
.navbar {
    background: #ffffff;
}
.btn-default {
    background: #ff7f50;
    color: #ffffff;
}
.section_1 {
    background: #343a40;
    color: #ffffff;
}
.section_2 {
    color: #343a40;
}
footer {
    background: #343a40;
    color: #ffffff;
}