body {
    background: linear-gradient(to right, #e998e5, #6a67f6) no-repeat;
}
.upper-buttons {
    display: flex;
    justify-content: space-between;
}
.question-text {
    text-align: center;
}
.question-variants {
    margin: 30px;
    width: 50%;
    height: 70px;
    text-align: center;
}
.question {
    display: none;
    text-align: center;
}
#final,
#million {
    text-align: center;
    background: linear-gradient(to left, #e998e5, #6a67f6) no-repeat;
}