// Write your styles here
/*@import"variables1";*/
@import"variables1";
.header-wrap {
    background: $backgr;
    background-size: 100% 100%;
    height: 600px;
    width: 100%;
    border-bottom-right-radius: $radius;
    .landing-logo {
        margin-left: 100px;
        width: 100%;
        p {
            font-weight: $headerWeight;
            display: inline-block;
            letter-spacing: 0px;
            text-align: center;
            margin-left: 10px;
            color: $textColor;
            padding-top: 0px;
            span {
                font-size: 10px;
                display: block;
            }
        }
    }
}
.header_heading {
    width: 450px;
    text-align: left;
    font-size: 50px;
    font-family: $textStyle;
    font-weight: 800;
    margin-left: 100px;
    color: $textColor;
}
.header_text {
    text-align: left;
    margin-left: 49px;
    width: 550px;
    font-family: cursive;   
    white-space: pre;
    color: $textColor;
}
html{
    width: 100%; 
    overflow: auto;
    body{
        background-color: $bgColor;
    }
}
@mixin links {
    font-size: 18px;
    color:white;
    margin-left: 150px;
}
.login {
    @include links();
}
@mixin buttons {
    background-color: #ffcc14;
    margin-left: 105px;
    margin-top: 30px;
    color: white;
    width: 120px;
    height: 40px;
    border: none;
    font-size: 15px;
    font-weight: 600;
}
.header_button {
    @include buttons();
}
.section_text {
    font-size: 40px;
    font-weight: 800;
    color: $textColor;
    text-align: center;
}
.section_card_wrap {
    margin-left: 250px;
    width: 800px;
    .section_card {    
        background-color: #424463;
        border-radius: 7px;
        margin-top: 20px;
        display: flex;
        height: 200px;
        .section_card_img {
            margin: 15px;
        }
        .section_card_right_container {
            text-align: center;
            width: 400px;
            color: $textColor;
            .section_card_text {
                width: 400;
                margin-left: 50px;
                text-align: justify;
                
            }
            .section_link {
                @include links();
                margin-left: 100px;
            }
        }
    }
}
.section_banner {
    margin-left: 210px;
    width: 880px;
    height: 120px;
    border-radius: 7px;
    display: flex;
    background: linear-gradient(to right, #bf9900, #910a5e);
    margin-top: 100px;
    position: absolute;
    .section_banner_text_wrap {
        text-align: left;
        margin-left: 100px;
        .section_banner_heading {
            font-size: 27px;
            font-weight: 700;
            color: $textColor;
        }
        .section_banner_text {
            margin-top: -20px;
            font-size: 14px;
            color: rgba($color: #b8b8b8, $alpha: 1.0);
        }
    }
    .section_banner_button {
        @include buttons();
        margin-top: 40px;
        margin-left: 200px;
    }
}
.footer {
    background-color: #424463;
    margin-top: 160px;
    padding-top: 140px;
    padding-left: 100px;
    color: $textColor;
    .footer-wrap {
        display: flex; 
        .footer_logo {
            display: block;
            p {
                display: inline-block;
            }
        }
        .footer_text {
            font-size: 13px;
            width: 300px;
            margin-left: 300px;
            margin-right: 200px;
        }
    }
}