$textColor: black;
$commonSize: 14px;
$buttonBg: green;
$someBg: blue;
$headerWeight: 600;
$textStyle: Arial, sans-serif;
$backgr: url("../img/m-h-day.jpg") no-repeat center top;
$bgColor:  #ffffff;
$radius: 550px 280px;