$textColor: white;
$commonSize: 14px;
$buttonBg: yellow;
$someBg: red;
$headerWeight: 600;
$textStyle: Arial, sans-serif;
$backgr: url("../img/m-h-night.jpg") no-repeat center top;
$bgColor:  #303249;
$radius: 550px 280px;