﻿* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}
/* Your code goes here */
.header {
  background: url('../img/header-bg.jpg') no-repeat;
  background-size: cover;
}
.navbar-brand {
  font-size: 40px;
  color: #fff;
}
.nav-link {
  color: #fff;
  font-size: 18px;
}
.texts {
  padding: 150px 0 295px;
  color: #fff;
  text-align: center;
}
.texts_logos h1 {
  font-size: 60px;
}
.heading-content h4 {
  color: gray;
}
.heading-content hr {
  width: 60%;
  border: 1px solid #000;
}
.fixed-top {
  background: linear-gradient(to left, #3b2b5b, #2e3375);
}
.lorem-p {
  line-height: 1.7;
}
.services-button {
  background: url('../img/touch-bg.png') no-repeat;
  background-size: 100%;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
}
.works_area {
  background: #ebebeb;
}
.works_text {
  color: #787878;
}
.works_text hr {
  width: 40%;
  border: 1px solid #787878;
}
.contact-area {
  background-color: #000;
}
.contact-info {
  color: #fff;
}
.contact-info hr {
  width: 40%;
  border: 1px solid #fff;
}
input {
  background-color: #000;
  outline: none;
  border: 2px solid #000;
  padding: 15px;
  border-bottom: 2px solid #fff;
  color: #fff;
}
.send {
  padding: 10px 50px;
  border: none;
  background: #202020;
  color: #fff;
}
.footer {
  background: linear-gradient(to left, #3b2b5b, #2e3375);
  color: #fff;
}
.references-text hr {
  width: 40%;
  border: 1px solid #202020;
}
.ref-text p {
  color: #787878;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #3b2b5b;
  border-radius: 50%;
  display: inline-block;
}