body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background: #f4f4f4;
}

/* Your code goes here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blocks > div {
  width: 50%;
  height: 400px;
}
.blocks {
  display: flex;
}
.buttons {
  padding: 15px 40px;
  background: #019999;
  color: #fff;
  font-size: 20px;
  border: none;
}


.left-part {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #76cdd8;
  color: #fff;
}
.right-part {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-part_text {
  padding: 0 80px;
  line-height: 1.7;
}



.left_box {
  padding: 63px;
  background: #fff;
}
.left_heading {
  color: #76cdd8;
  margin-bottom: 30px;
}
.left_quote {
  line-height: 1.7;
  margin-bottom: 20px;
}
.section-2_button {
  float: right;
}
.section-2_right {
  background: #76cdd8;
}
.image-box {
  width: 280px;
  height: 280px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 50%; 
}
.image {
  width: auto;
  height: 100%;
  margin: 0 auto;
}
.image-text {
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-top: -20px;
}



.left-image {
  width: 100%;
  height: 100%;
}
.section-3_right {
  background: #fff;
}
.section-3_right_container {
  margin: 80px 100px;
}
.container_heading {
  margin-bottom: 20px;
}
.container_text {
  margin-bottom: 20px;
  line-height: 1.7;
}
.container_text a{
  text-decoration: none;
}
.button-box {
  display: flex;
  justify-content: center;
}
.section-3_left {
  overflow: hidden;
}




.section-4 {
  display: flex;
  margin: 30px 0;
  background: #fff;
}
.section-4_left {
  width: 90%;
}
.section-4_left_container {
  margin: 80px;
}
.section-4_left_container > * {
  margin-bottom: 25px;
}
.section-4_left_container > p {
  line-height: 1.8;
}
.section-4_left_heading {
  color: #76cdd8;
}
.section-4_right {
  overflow: hidden;
}
.section-4_button {
  float: right;
}
.section-4_image {
  width: 100%;
  height: 100%;
}



.section-5 {
  display: flex;
  margin-bottom: 30px;
}
.section-5_left {
  width: 30%;
  overflow: hidden;
}
.section-5_right {
  background: #fff;
  width: 70%;
}
.section-5_right_container {
  margin: 30px 50px;
  display: flex;
  justify-content: space-around;
}
.left_sub_container {
  border: 2px solid #019999;
}
.left_sub_container:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
.left_sub_container_head {
  background: #019999;
  color: #fff;
  padding: 20px;
}
.left_sub_container_head > * {
  text-align: center;
}
.head_main {
  margin-bottom: 15px;
}
.section-5_image {
  width: 100%;
  height: 100%;
}
li {
  list-style-type: none;
  margin-bottom: 20px;
}
.left_sub_container_content {
  padding: 40px;
}
.left_sub_container_button {
  padding: 40px;
  display: flex;
  justify-content: center;
}



.application_name {
  background: #76cdd8;
  color: #fff;
}
.application_text {
  padding: 50px 0 100px 180px;
}



.section-6 {
  background: #fff;
  max-width: 900px;
  margin: -40px auto -40px;
  padding-bottom: 100px;
}
.contacts {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}
.contacts-left > * {
  display: block;
  width: 350px;
  height: 60px;
  margin-bottom: 15px;
  font-weight: 600;
  padding: 0 0 0 20px;
  font-size: 18px;
}
.contacts-right > * {
  width: 350px;
  height: 230px;
  font-weight: 600;
  padding: 0 0 0 20px;
  font-size: 18px;
}
.submit {
  display: flex;
  justify-content: center;
}



.footer {
  margin-top: -40px;
  display: flex;
  justify-content: space-around;
  background: #019999;
  padding: 120px 0 50px;
  color: #fff;
  line-height: 1.8;
}



.copy {
  display: flex;
  justify-content: center;
  padding: 20px;
}



.buttons:hover {
  background:rgb(118, 205, 216);
  transition: .3s;
}
.images:hover {
  transform: scale(1.1);
  transition: .3s;
}
.blocks-hvl {
  position: relative;
  background: #fff;
}
.blocks-hvl:hover::before {
  position: absolute;
  content: "";
  border: 30px solid transparent; 
  border-left: 30px solid #76cdd8; 
  border-top: 30px solid #76cdd8;
}
.blocks-hvr {
  position: relative;
  background: #fff;
}
.blocks-hvr:hover::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  border: 30px solid transparent; 
  border-right: 30px solid #76cdd8; 
  border-top: 30px solid #76cdd8;
}



.tm-pricing-discount {
  display: none;
}
.advanced:hover .tm-pricing-discount {
  display: block;
  text-align: center;
  margin-top: -30px;
}
.tm-pricing-discount__star {
  color: red;
}

input {
  outline: none;
}
input:focus {
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}