/* Your style goes here */
body {
  padding: 0;
}

.tab {
  border: 1px solid black;
  padding: 2px 10px;
  cursor: pointer;
}

.tab.active {
  border-color: orange;
}

.header {
  display: flex;
  justify-content: space-between;
} 

.rm {
  background-color: yellow;
}

.container {
  margin-top: 30px;
}

.pool-name {
  font-weight: bold;
}