.tm-bg-color-primary {
    background: #76cdd8;
}
h2.mb-4 {
    color: #76cdd8;
}
.btn {
    background: #019999;
    border: none;
}
.btn:hover {
    background-color: rgb(118, 205, 216)
}
.tm-form-footer {
    background: #019999;
}
.tm-bg-color-secondary {
    background: #019999;
}
.tm-pricing-table {
    border-color: #019999;
}
.tm-mb-30 {
    margin-bottom: 30px;
}
.tm-col-md-reverse .p-0 {
    order: 2;
}
.tm-form-header {
    background: #23d4d4;
}
.tm-section.tm-card:nth-child(2n):hover::before
{
    content: "";
    position: absolute;
    left: 0px;
    width: 50px;
    height: 50px;
    border-top: 50px solid rgb(118,205,216);
    border-right: 50px solid transparent;
}
.tm-section.tm-card:nth-child(2n+1):hover::before
{
    content: "";
    position: absolute;
    right: 0px;
    width: 50px;
    height: 50px;
    border-top: 50px solid rgb(118,205,216);
    border-left: 50px solid transparent;
}
.img-fluid:hover {
    transform: scale(1.1);
    transition: .2s;
}
.pr-xl-0 .tm-flex-center .tm-pricing-table:hover,
.pl-xl-0 .tm-flex-center .tm-pricing-table:hover {
    box-shadow: 0 0 0 0.2rem #24d4d4
}
.btn-secondary:hover {
    background: #24d4d4;
}
.tm-pricing-table:hover .tm-pricing-body .tm-pricing-discount {
    display: inline;
  }
.tm-pricing-discount__star {
    color:red;
}
.form-control:focus,
select:focus {
    border-color: #24d4d4;
    box-shadow: 0 0 0 0.2rem #24d4d4; 
}
.pr-md-5 {
    margin-top: -50px;
    margin-bottom: -50px;
    z-index: 1;
}