/* START: Task 1 Styles */
* {
    box-sizing: border-box;
}
table {
    background: green;
    border: 1px solid black;
}
td {
    background: white;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid black;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
input[type="text"] {
    font-size: 10px;
    width: 333px;
    height: 40px;
    margin-right: 15px;
}
input[type="button"] {
    height: 40px;
}
#task2 {
    width: 400px;
}
.text {
    padding: 20px;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */

/* END: Task 3 Styles */
