* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
}
header {
  padding: 20px;
  .main-heading {
    text-align: center;
    color: cornflowerblue;
  }
}
.rules {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px;
  .rules-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    h2 {
      text-align: center;
      color: rgb(49, 109, 221);
      padding: 10px;
    }
    .rules-container {
      width: 70%;
      background-color: rgb(255, 195, 122);
      padding: 20px;
      border-radius: 10px;
      .rules-content-wrapper {
        text-align: center;
        p {
          padding: 15px;
          font-size: 1.3em;
          color: rgb(248, 37, 37);
        }
      }
    }
  }
}
.choices {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px;
  .choices-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    .btn-choice {
      padding: 10px;
      border: none;
      border-radius: 10px;
      background-color: rgb(214, 153, 78);
      &:hover {
        cursor: pointer;
        background-color: rgb(212, 172, 123);
      }
    }
    .reset {
      padding: 10px;
      border: none;
      border-radius: 10px;
      background-color: rgb(221, 87, 63);
      &:hover {
        cursor: pointer;
        background-color: rgb(197, 94, 75);
      }
    }
  }
}
.results {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px;
  .choices-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
}
.result-field {
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(147, 198, 228);
  border-radius: 10px;
}
